
* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #f2821a;
}

header {
    background: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content:
}

.logo {
    padding-left: 10px;
}

a {
    background: white;
}

